.SearchResults {
    width: 50%;
    height: 550px;
    overflow-y: scroll;
    padding: 1rem;
    background-color: rgba(251, 192, 147, 0.9);
    box-shadow: 0 4px 2px 2px #000000;
    border-radius: 5px;
}

.searchHeader {
    font-size: 1.55rem;
    margin: 0;
    color: #000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    .SearchResults {
        height: 380px;
        width: 100%;
    }
}